[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
	rejectEmptyCommit = true
[project]
	description = Simple antlr4 grammar for Makefiles (not for production use)
[access "refs/*"]
	owner = group user/Mohamed khaled (Icraus)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohamed khaled (Icraus)
	label-Verified = -1..+1 group user/Mohamed khaled (Icraus)
	push = group user/Mohamed khaled (Icraus)
	read = group user/Mohamed khaled (Icraus)
	rebase = group user/Mohamed khaled (Icraus)
	removeReviewer = group user/Mohamed khaled (Icraus)
	submit = group user/Mohamed khaled (Icraus)
[access "refs/heads/*"]
	create = group user/Mohamed khaled (Icraus)
	push = +force group user/Mohamed khaled (Icraus)
	pushMerge = group user/Mohamed khaled (Icraus)
	read = group user/Mohamed khaled (Icraus)
[access "refs/tags/*"]
	push = group user/Mohamed khaled (Icraus)
	push = +force group user/Mohamed khaled (Icraus)
[receive]
	requireChangeId = true
	rejectImplicitMerges = true
